<p>template-form works!</p>



<div class="container">

    <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef)" class="row g-3">

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">

                <label class="form-label">Full Name</label>
                <input type="text" class="form-control" #fname="ngModel" name="fullName"
                    [(ngModel)]="detailsObject.fullName" required minlength="3"
                     [ngClass]="{
    'is-invalid': fname.invalid && (fname.touched || fname.dirty)
  }">

                <div class="text-danger">
                    <div *ngIf="(fname.touched || fname.dirty) && fname.errors?.['required'] ">
                        <span>This Field is Required</span>
                    </div>
                    <div *ngIf="(fname.touched || fname.dirty) && fname.errors?.['minlength'] ">
                        <span>The Length Should be More Than 3 charachter</span>
                    </div>
                </div>
            </div>



            <div class="col-12 col-md-6 col-lg-4">

                <label class="form-label">Email</label>
                <input type="email" class="form-control" #emailRef="ngModel" name="email"
                    [(ngModel)]="detailsObject.email" required email [ngClass]="{
    'is-invalid': emailRef.invalid && (emailRef.touched || emailRef.dirty)
  }">

                <div class="text-danger">
                    <div *ngIf="(emailRef.touched || emailRef.dirty) && emailRef.errors?.['required']">
                        <span>This Field is Required</span>
                    </div>
                </div>

                <div class="text-danger">
                    <div *ngIf="(emailRef.touched || emailRef.dirty) && emailRef.errors?.['email']">
                        <span>Please Enter Valid Email</span>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <label class="form-label">Password</label>
                <input type="text" class="form-control" #passwordRef="ngModel" name="password"
                    [(ngModel)]="detailsObject.password" required [ngClass]="{
                    'is-invalid': passwordRef.invalid && (passwordRef.touched || passwordRef.dirty)
                }">

                <div class="text-danger">
                    <div *ngIf="(passwordRef.touched || passwordRef.dirty) && passwordRef.errors?.['required']">
                        <span>This Field is Required</span>
                    </div>
                </div>


            </div>

        </div>


        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">

                <label class="form-label">Mobile</label>
                <input type="text" class="form-control" name="phoneNumber" #phoneNumberRef="ngModel"
                    [(ngModel)]="detailsObject.phoneNumber" required minlength="10" maxlength="10"
                    pattern="^[6-9][0-9]{9}$" [ngClass]="{
                    'is-invalid': phoneNumberRef.invalid && (phoneNumberRef.dirty || phoneNumberRef.touched)
                }">

                <div class="text-danger">
                    <div
                        *ngIf="(phoneNumberRef.dirty || phoneNumberRef.touched) && phoneNumberRef.errors?.['required']">
                        <span>This Field is Required</span>
                    </div>

                    <div *ngIf="(phoneNumberRef.dirty || phoneNumberRef.touched) && phoneNumberRef.errors?.['pattern']">
                        <span>Please Enter Valid 10 digit Mobile Number (start from 6-9)</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">

                <div class="d-flex align-items-center">
                    <label class="form-label me-5 mb-0">Gender</label>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="Male"
                            [(ngModel)]="detailsObject.gender">
                        <label class="form-check-label" for="male">Male</label>
                    </div>

                    <div class="form-check form-check-inline ms-3">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="Female"
                            [(ngModel)]="detailsObject.gender">
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-12 mt-5">
            <label>
                <button>Submit</button>
            </label>
        </div>

    </form>


    <div class="card" *ngIf="isSubmitted">
        <div class="card-header">
            Submitted Details
        </div>
        <div class="card-body mt-4">


            {{detailsObject | json}}
        </div>
    </div>


</div>