<p>post works!</p>


<div class="container">
<form #formRef="ngForm">
    <div class="row">

        <div class="col-12 col-md-6 col-4">

              <label class="form-label">Department Name</label>
              <input type="text" class="form-control" [(ngModel)]="obj.departmentName" name="departmentName">
        </div>


        <div class="col-12 col-md-6 col-lg-4" >
            <label class="form-label">Logo</label>
            <input type="text" class="form-control" [(ngModel)]="obj.departmentLogo" name="departmentLogo">
        </div>
    </div>


        <div class="mt-5 ms-4">
            <button class="btn btn-success" (click)="onPost()">Save through POST API</button>
        </div>
    </form>
</div>
